.error-text {
  color: red;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
} 

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.6;
  shape-rendering: crispEdges
}
.grid path {
  stroke-width: 0;
}

.selection-margin {
  margin: 10px;
}

table {
  width: 100%;
}

table th{
  background-color: #330561;
  color: white;
  font-weight: bolder;
}
table tr{
  background-color: #962bee;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  table tr {
    background-color: #5909aa;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}