{% extends "template.html" %} 

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='graph.css') }}">
{% endblock head %}

{% block content %}
    <div class="dataSelection" style="display: none;">
        <select id="selectRegion" class="selectpicker"></select>
        <button id="decideRegion" class="btn btn-primary">Select Region</button>
    </div>
    <div class="dataWrapper">
        <div class="loading" id="loadData">
            <div class="loader"></div>
            <h2>Setting up</h2>
        </div>
        <div id="c19Data" style="display: none;">
            <h2></h2>
            <svg id="chart"></svg>
        </div>
    </div>
{% endblock content %} 

{% block foot %}
<script src="https://d3js.org/d3.v4.js"></script>
<!-- retrieves library for parsing csv strings -->
<script src="{{ url_for('static', filename='scripts/data-parse.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/templates/graph.js') }}"></script>
{% endblock foot %}
